<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">

<meta property="og:title" content="#dummy">
<meta property="og:description" content="#dummy">
<meta property="og:url" content="#dummy">
<meta property="og:image" content="#dummy">
<meta property="og:type" content="website">
<meta property="og:type" content="article">
<meta property="og:site_name" content="#dummyサイトの名前">
<meta property="og:locale" content="ja_JP">

<link rel="shortcut icon" type="" href="/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="">
<link rel="alternate" href="">

<!-- common style -->
<link rel="stylesheet" href="">
</head>
